/* .  universal stuff */

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
body {
    margin: 0;
}


/* user defined styles */

.bg-grey {
    background-color: rgba(8, 8, 8, 0.884);
    /* background-color: rgba(8, 8, 8, 0.733); */
    color: white;
}


/* this be related to the navigation */

.icon-nav {
    display: flex;
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: 'Rock Salt';
    font-style: normal;
}

.icon-nav a {
    text-decoration: none;
    font-weight: 900;
}

.icon-nav h3 {
    position: relative;
    color: rgb(40, 43, 46);
    font-size: 20px;
}

.icon-nav a:hover {
    color: aqua;
}

.icon-nav a:hover {
    color: aqua;
    text-decoration-line: none;
}

#home-nav li {
    display: inline;
    line-height: 2px;
}

#home-nav {
    text-align: center;
}

#home-nav a:hover {
    color: white;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.navi {
    position: absolute;
    height: 40px;
    top: 0px;
    width: 100vw;
    z-index: 1000;
    font-size: 20px;
    font-weight: 250;
    font-family: 'Courier New', Courier, monospace;
    transition: 300ms ease-in;
}

.navi:hover {
    background-color: black;
    color: rgb(9, 228, 38);
}

.nav-links li {
    float: right;
    display: flex;
    line-height: 2px;
}

.nav-links a:hover {
    color: white;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.navi a {
    color: rgb(211, 205, 197);
    padding: 0px 20px;
    text-decoration-line: none;
}

.navi h3>a {
    color: rgb(211, 205, 197);
}


/* this be the landing page */

.display-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.display-img {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -3;
}

.display-text {
    position: relative;
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    transform: translateY(20vh);
    color: white;
    z-index: -2;
}

.display-text span {
    color: black;
}